<style>
    .footer {
       
        bottom: -20px;
        width: 100%;
        background-color: rgba(230, 134, 179, 0.4)

    }
    .heading{
        font-family: cursive;
        font-size: 25px;
        font-weight: 700;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .heading1{
       
        font-size: 20px;
        font-weight: 900;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        color: rgb(71, 4, 46);
    }

    @media screen and (max-width: 480px) {

        .heading{
        font-family: cursive;
        font-size: 15px;
        font-weight: 300;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        }
       
        .heading1{
        
            font-size:12px;
            font-weight: 900;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
            color: rgb(71, 4, 46);
        }
    }
</style>
<div class="footer">
    <div class="heading" style="padding-top: 20px;">
        MADE WITH LOVE, CHIRAG JAIN
    </div>
    <div class="follow">
        <div class="heading">YOU CAN FOLLOW US THROUGH</div>
        <div class="links">
            <div class="heading1">WHATSAPP - 9897765443</div>
            <div class="heading1">FACEBOOK - realTimePizzaDelivery#9</div>
            <div class="heading1">INSTAGRAM - realTimePizzaDelivery#9</div>
            <div class="heading1" style="margin-bottom: 0px;padding-bottom: 20px;">EMAIL - realTimePizzaDelivery@gmail.com</div>
        </div>
        
       
        
        
    </div>
</div>