<% layout('../layouts/boilerplate') %>
<style>

    .col-4 img{
        height: 300px;
    }
   
    .col-6 img{
        height: 250px;
    }
    .text2{

        background-color: rgba(230, 134, 179, 0.4);
   

    }
    .text1{
        
        /* margin: auto; */
        text-align: center;
        color: rgb(65, 12, 12);
        margin-top: 13%;
        font-weight: bolder;
        font-family: cursive;
        font-size: larger;
    }
    .text1 h1{
        font-size: 45px;
        font-weight: bolder;
    }
</style>
<body>
    <div class="container mt-3 " >
        <div class="row">
            <div class="col-4 px-0 long">
                <img width="100%" src="https://images.unsplash.com/photo-1528490060256-c345efae4442?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80">
            </div>
            <div class="col-4 px-0">
                <img width="100%"
                    src="https://images.unsplash.com/photo-1611007304706-279fe3d29bda?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
            </div>
            <div class="col-4 px-0">
                <img width="100%"
                    src="https://images.unsplash.com/photo-1520201163981-8cc95007dd2a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cGl6emElMjBzbGljZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="text2 col-6"><div class="text1"><h1>PIZZA<br> BY THE SLICE</h1></div></div>
           
            <div class="col-6 px-0">
                <img width="100%" src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80" alt="">
            </div>
        </div>
    </div>
</body> 


